<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="overflow: auto; width:auto; height:auto; position: relative; background-color: #FA8072; color: #8B0000  ">{{alert1}}</div>
    <h3>1. Генерация схемы предварительного распределения ключей</h3>
    <form name="Gen" style="position: relative" action="{% url 'generate' %}">
        <p>p:
            <input type="text" size="25" style="margin-left:5px" name="p_input" id="p">
        </p>
        <p>k:
            <input type="text" size="25" style="margin-left:5px" name="k_input" id="k">
        </p>
        <p>m:
            <input type="text" size="25" style="margin-left:2px" name="m_input" id="m">
        </p>
        <p>n:
            <input type="text" size="25" style="margin-left:5px" name="n_input" id="n">
        </p>
        <p>
            Исходный многочлен и параметры:
        </p>
        <div style="overflow: auto; width:300px; height:auto; border: 1px solid black; position: relative">p = {{p}}, k = {{k}}, m = {{m}}, n = {{n}}<br>Исходный многочлен = {{sv}}</div><br>
        <input type="submit" name="generate_button" value="Генерировать">
    </form>
    <h3>2. Вычисление ключа конференц-связи</h3>
    <form name="Calcul" style="position: relative" action="{% url 'get' %}">
        <p>Идентификаторы участников конференц-связи:<br><br>
            <input type="text" size="25" style="margin-left:5px" name="participantsID">
        </p>
        <p>Вычисление ключа
            <input type="text" size="1" style="margin-left:5px; margin-right:5px" name="key_first">участника
        </p>
        <div style="overflow: auto; width:300px; height:auto; border: 1px solid black; position: relative">Предварительный ключ {{key_one}}-го участника = {{prekey_first}}<br>Ключ = {{key_first}}</div>
        <p>Вычисление ключа
            <input type="text" size="1" style="margin-left:5px; margin-right:5px" name="key_second">участника
        </p>
        <div style="overflow: auto; width:300px; height:auto; border: 1px solid black; position: relative">Предварительный ключ {{key_two}}-го участника ={{prekey_second}}<br>Ключ = {{key_second}}</div><br>
        <input type="submit" name="calculate" value="Вычислить">
        <div style="overflow: auto; width:300px; height:auto; border: 1px solid black; position: relative; margin-top:15px">Идентификаторы = {{participantsID}}<br>{{res}}</div><br>
    </form>
    <h3>3. Вскрытие схемы Блома</h3>
    <form name="OpenOb" style="position: relative" action="{% url 'openob' %}">
        <p>Список идентификаторов
            <input type="text" size="10" style="margin-left:5px; margin-right:5px" name="list_of_idtf"><input type="submit" name="update" value="Обновить">
        </p>
        <p>Список списков скомпрометированных многочленов:</p>
        <div style="overflow: auto; width:600px; height:auto; border: 1px solid black; position: relative">{{dict}}</div><br>
    </form>
    <form name="OpenScr" style="position: relative" action="{% url 'openscr' %}">
        <input type="submit" name="opening" value="Вскрыть">
        <div style="overflow: auto; width:600px; height:auto; border: 1px solid black; position: relative; margin-top:15px">Степень многочлена F(X_1,...,X_k) по каждой переменной m = {{test_get_m}}<br>Число участников привилегерованной группы k = {{test_get_k}}<br>
            Список рангов частичных СЛАУ: {{rklst}}<br>Таблица r степеней индентификаторов m+1 участников: r= {{r}}<br>Построенная 1-ая СЛАУ: {{first_slau}}</div><br>
    </form>
    <form name="OpenScr" style="position: relative" action="{% url 'openbd' %}">
        <p>Постройте 2-ую СЛАУ:
            <input type="text" size="46" style="margin-left:5px; margin-right:5px" name="build_slau"><br><br>{{second_slau}}{{second_right_slau}}<br><br><input type="submit" name="build" value="Построить">
        </p>
        <div style="overflow: auto; width:600px; height:auto; border: 1px solid black; position: relative; margin-top:15px">Построенная система СЛАУ: {{slau}}<br>Упрощенная 1-ая СЛАУ: {{light_first_slau}}<br></div><br>
    </form>
    <form name="Open" style="position: relative" action="{% url 'open' %}">
        <p>Постройте 2-ую упрощенную СЛАУ:
            <input type="text" size="46" style="margin-left:5px; margin-right:5px" name="result_slau"><br><br>{{second_light_slau}}{{second_light_right_slau}}<br><br><input type="submit" name="result" value="Результат">
        </p>
        <div style="overflow: auto; width:600px; height:auto; border: 1px solid black; position: relative; margin-top:15px">Коэффициенты исходного многочлена:{{resul}}<br>
            Восстановленные коэффициенты: {{resul}}<br>Коэффициенты исходного многочлена F(X_1,...,X_k) восстановлены верно: {{resule}}
        </div><br>
    </form>
</body>
</html>